{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Мы получили ваш запрос на смену пароля.</p>

<p>Если Вы желаете изменить пароль, то нажмите на ссылку ниже:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ reset_password_link }}">Сбросить</a>.</p>

<p>Если вы хотите оставить прошлый пароль, то проигнорируйте это письмо.</p>

{% endblock %}