{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Спасибо за регистрацию {{ app_name }}.</p>

{% if user_manager.enable_confirm_email and not user.confirmed_at %}
<p>Следующим шагом Вам нужно подтвердить email.</p>

<p>Если Вы является инициатором регистрации, то кликните на ссылку ниже:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">Подтвердить e-mail</a>.</p>

<p>Если Вам пришло это письмо по ошибке, то проигнорируйте его.</p>
{% endif %}

{% endblock %}