<p>Уважаемый пользователь!</p>

<p>На Вас назначена контрольная работа:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:5000/practice/homework/solve/{{homework_id}}">Посмотреть</a>.</p>
<p>Крайний срок выполнения: {{finish_date|datetimeformat}}</p>

<p>
{{ app_name }}
</p>