<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_name }}</title>

      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

      <!-- Bootstrap -->
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-markdown.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/chosen.css') }}">

    <!-- In-lining styles to avoid needing a separate .css file -->
    <style>
        /*hr { border-color: #cccccc; margin: 0; }*/
        .no-margins { margin: 0px; }
        /*.with-margins { margin: 10px; }*/
        .col-centered { float: none; margin: 0 auto; }
        form {
            padding: 19px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
        }

        form textarea {
            resize: vertical;
        }

        .form-style-disabled {
            border: none; 
            padding: 0px;
            background-color: inherit;
        }

        .container {
            margin-bottom: 50px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

      {% block head %}
      {% endblock %}
  </head>


<body>
    {% block body %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ app_name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if user_menu %}
                    <ul class="nav navbar-nav">
                        {% for label, url in user_menu %}
                            <li><a href="{{ url }}">{{ label }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if call_or_get(current_user.is_authenticated) %}
                            <a href="{{ url_for('user.logout') }}"> Выход</a>
                        {% else %}
                            <a href="{{ url_for('user.login') }}">Вход</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block menu %}{% endblock %}

    <div id="main-div" class="with-margins">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% block main %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    </div>

    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/jquery.datetimepicker.css') }}"/>
    <script src="{{ url_for('static', filename='vendor/js/jquery.datetimepicker.full.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/to-markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/bootstrap-markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/bootstrap-markdown.ru.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/chosen.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/jeditable.js') }}"></script>

    <script type="text/javascript">
        $( document ).ready(function() {
            jQuery.datetimepicker.setLocale('ru');
            $("textarea[data-provide=markdown]").markdown({language:'ru'});
        });
    </script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>