{% extends 'flask_user/member_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{{ current_user.username }} / {{ current_user.email }}</h1>

<form action="" method="POST" role="form">
    {{ form.hidden_tag() }}

    {{ render_field(form.last_name, tabindex=230) }}
    {{ render_field(form.first_name, tabindex=230) }}
    {{ render_field(form.university, tabindex=230) }}
    {{ render_field(form.sex, tabindex=230) }}
    {{ render_field(form.bio, tabindex=230) }}

    {{ render_submit_field(form.submit, tabindex=280) }}
</form>

{% endblock %}