{% extends 'base.html' %}


{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

<div class="container">

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <form action="" method="POST" role="form">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.title, tabindex=230) }}
                    {{ render_field(form.status, tabindex=230) }}
                    {{ render_field(form.published, tabindex=230) }}
                    {{ render_field(form.groups, tabindex=230, **{'data-placeholder': " "}) }}
                    {{ render_field(form.article, tabindex=230, **{'data-provide': "markdown"}) }}
                    <div>
                        {{ render_submit_field(form.submit, tabindex=280) }}
                        {% if material %}
                            <div class="pull-right delete_button">
                                <a href="{{ url_for('material.delete_view', id=material.id) }}" class="btn btn-danger btn-md" role="button">Удалить</a>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#published').datetimepicker({
                format:'d.m.Y H:i'
            });
        });
        $('#groups').chosen();
    </script>
{% endblock %}