{% extends 'base.html' %}


{% block content %}
<div class="container">

        <div class="row">
            <div class="col-lg-8">
                {% for material in materials.items %}
                    <div class="col-lg-12">
                            <h1>
                            {% if current_user.id == material.author_id and current_user.role == Role.TEACHER %}
                            <a href="{{ url_for('material.edit_view', id=material.id) }}">
                                {{ material.title }}
                            </a>
                            {% else %}
                                {{ material.title }}
                            {% endif %}
                            </h1>

                        <p>
                            {{ material.article|truncate(400)}}
                            <a href="{{ url_for('material.item_view', id=material.id) }}">
                                Читать
                            </a>
                        </p>
                        <span class="badge">{{ material.status_label }} {{ material.published|datetimeformat }}</span>
                        <div class="pull-right">{{ material.author.first_and_last_name }}</div>
                    <hr>
                    </div>
                {% else %}
                    <div class="col-lg-12">
                        <h2>Ничего нет</h2>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <div class="well">
                    <h4>Поиск</h4>
                    <div class="input-group">
                        <form action="" method="get" class="form-inline form-style-disabled">
                            <div class="form-group">
                                <input type="text" class="form-control" name="q">
                            </div>
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                    <!-- /.input-group -->
                </div>
                {% if current_user.role == Role.TEACHER %}
                    <div>
                        <a href="{{ url_for('material.create_view') }}" class="btn btn-info btn-md" role="button">Отправить статью</a>
                    </div>
                {% endif %}

            </div>

        </div>
        {% if materials.has_prev %}
        <a href="{{ url_for('material.list_view', page=materials.prev_num) }}"><< Предыдущая</a>
        {% else %}<< Предыдущая
        {% endif %} | 
        {% if materials.has_next %}
        <a href="{{ url_for('material.list_view', page=materials.next_num) }}">Следующая >></a>
        {% else %}Следующая >>
        {% endif %}
{% endblock %}