{% extends 'base.html' %}


{% block head %}
    <style type="text/css">
        .destroy {
            border: none;
        }
        .media-body:hover .delete_button{
            visibility: visible;
        }
        .delete_button{
            visibility: hidden;
        }
    </style>
{% endblock %}



{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<div class="container">

    <span class="badge">{{ material.status_label }} {{ material.published|datetimeformat }}</span>
    <div class="pull-right">{{ material.author.first_and_last_name }}</div>
    <hr>
    <h2>{{ material.title }}</h2> 
    <p>
        {{ material.article|markdown }}
    </p>
    <div class="well">
        <form class="form-style-disabled" action="{{ url_for('material.comment_add', material_id=material.id) }}" method="POST" role="form">
            {{ comment_form.hidden_tag() }}
            {{ render_field(comment_form.message) }}
            {{ render_submit_field(comment_form.submit) }}
        </form>
    </div>
    <div id="comments">
        {% for comment in comments %}
            <hr>
            <div class="media comment">
                <div class="media-body">
                    <h4 class="media-heading">{{ comment.author.first_and_last_name }}
                        <small>{{ comment.published|datetimeformat }}</small>
                        {% if comment.allow_edit(current_user) %}
                        <div class="pull-right delete_button">
                        <a href="{{ url_for('material.comment_delete', id=comment.id) }}">
                        <button type="button" class="btn btn-default destroy"">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </a>
                        </div>
                        {% endif %}
                    </h4>
                    <div class="{{ 'comment-body' if comment.allow_edit(current_user) else 'not-allow-edit-comment'}}" id="comment_{{comment.id}}">{{ comment.message }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.comment-body').editable('/material/comments/edit/', {
                type: 'textarea',
                cancel: 'Отмена',
                submit: 'ОК',
                tooltip: 'Нажмите для редактирования',
                rows: 3,
                maxlength: 250
            });
        });
    </script>
{% endblock %}