{% extends 'base.html' %}


{% block head %}
    <style type="text/css">
        li:hover .delete_button{
            visibility: visible;
        }
        .delete_button{
            visibility: hidden;
        }
    </style>
{% endblock %}


{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<div class="container">
    <div class="row">
    <div class="col-lg-2"></div>
        <div class="col-lg-8">
<form action="" method="POST" role="form" class="form-inline">
    {{ form.hidden_tag() }}
    {{ render_field(form.title, tabindex=230) }}
    {{ render_submit_field(form.submit, tabindex=280) }}
</form>
{% if practice %}
    {% if practice.tasks %}
        <ul class="list-group">
            {% for task in practice.tasks %}
                <li class="list-group-item">
                    <a href="{{ url_for('practice.edit_task', id=task.id) }}">{{ task.question}}</a>
                    <div class="pull-right delete_button"><a href="{{ url_for('practice.delete_task', id=task.id) }}"><span class="glyphicon glyphicon-remove"></span></a></div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        Вопросов еще нет
    {% endif %}
    <a href="{{ url_for('practice.add_task', practice_id=practice.id) }}" class="btn btn-info btn-md" role="button">
        Добавить вопрос
    </a>
    <div class="pull-right">
        <a href="{{ url_for('practice.delete_view', id=practice.id) }}" class="btn btn-danger btn-md" role="button">
            Удалить
        </a>
    </div>
    {% endif %}
    </div>
        </div>
</div>
{% endblock %}