{% extends 'base.html' %}


{% block head %}
    <style type="text/css">
        tr:hover td .delete_button{
            visibility: visible;
        }
        .delete_button{
            visibility: hidden;
        }
    </style>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            {% if query %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            {% if current_user.role == Role.STUDENT %}
                            <th>Преподаватель</th>
                            {% endif %}
                            <th>Группа</th>
                            <th>Срок выполнения</th>
                            <th>Результат</th>
                            {% if current_user.role == Role.TEACHER %}
                            <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in query %}
                        {% if current_user.role == Role.TEACHER %}
                            {% set homework, practice = row %}
                        {% elif current_user.role == Role.STUDENT %}
                            {% set homework, result, practice, user = row %}
                        {% endif %}
                        {% if current_user.role == Role.STUDENT %}
                            {% if homework.is_active %}
                                {% set tr_cls = 'warning' %}
                            {% else %}
                                {% set tr_cls = 'success' if result else 'danger' %}
                            {% endif %}
                        {% elif current_user.role == Role.TEACHER %}
                            {% set tr_cls = 'success' if not homework.is_active else 'info' %}
                        {% endif %}
                        
                        <tr class="{{ tr_cls }}">
                            {% if current_user.role == Role.TEACHER %}
                                {% set url = url_for('practice.edit_view', id=practice.id) %}
                            {% elif current_user.role == Role.STUDENT %}
                                {% set url = url_for('practice.homework_solve', id=homework.id) if homework.is_active else None %}
                            {% endif %}
                            
                            <td>
                                {% if url %}
                                    <a href="{{ url }}">{{ practice.title }}</a>
                                {% else %}
                                    {{ practice.title }}
                                {% endif %}
                            </td>
                            {% if current_user.role == Role.STUDENT %}
                            <th>{{ user.first_and_last_name }}</th>
                            {% endif %}
                            <td>{{ homework.classroom.title }}</td>
                            <td>{{ homework.finish_date|datetimeformat }}</td>
                            {% if current_user.role == Role.TEACHER %}
                            <td><a href="{{ url_for('practice.show_result', id=homework.id) }}">Показать результаты</a></td>
                            <td>
                                <div class="pull-right delete_button">
                                <a href="{{ url_for('practice.homework_delete_view', id=homework.id) }}" class="btn btn-danger btn-md" role="button">Удалить</a>
                                </div>
                            </td>
                            {% else %}
                                {% if result %}
                                    {% set val_res = '{} / {}'.format(result.correct, result.total) if not homework.is_active else 'На проверке' %}
                                {% else %}
                                    {% set val_res = 'Не пройдено' %}
                                {% endif %}
                                <td>{{ val_res }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Ничего не добавлено
            {% endif %}
            {% if current_user.role == Role.TEACHER %}
            <a href="{{ url_for('practice.homework_add_view') }}" class="btn btn-info btn-md" role="button">Добавить</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
