{% extends 'base.html' %}


{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<div class="container">
    <div class="row">
    <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1>{{ homework.practice.title }}</h1>
            <form action="{{ url_for('practice.homework_answer', id=homework.id) }}" method="POST" role="form" class="form-style-disabled">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' and field.name != 'submit' %}
                    {% if field.name in questions %}
                        <hr>
                        <h3>{{ questions[field.name] }}</h3>
                    {% endif %}

                    {% if field.type == 'StringField' %}
                        {{ render_field(field) }}
                    {% else %}
                        <div class="form-check">
                            {{ field }}
                            {{ field.label }}
                        </div>
                    {% endif %}
                {% endfor %}
                {{ render_submit_field(form.submit) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
