{% extends 'flask_user/member_base.html' %}


{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<form action="" method="POST" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.finish_date, tabindex=230) }}
    {{ render_field(form.practice, tabindex=230) }}
    {{ render_field(form.classrooms, tabindex=230, **{'data-placeholder': " "}) }}
    {{ render_submit_field(form.submit, tabindex=280) }}
</form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#finish_date').datetimepicker({
                format:'d.m.Y H:i'
            });
            $('#classrooms').chosen();
        });
    </script>
{% endblock %}