{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            {% if practices %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Дата создания</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for practice in practices %}
                        <tr>
                            <td><a href="{{ url_for('practice.edit_view', id=practice.id) }}">{{ practice.title }}</a></td>
                            <td>27.05.2017</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Ничего не добавлено
            {% endif %}
            <a href="{{ url_for('practice.create_view') }}" class="btn btn-info btn-md" role="button">Добавить</a>
        </div>
    </div>
</div>
{% endblock %}
