{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1>{{ homework.practice.title }}. Группа: {{ homework.classroom.title }}</h1>
            {% if query %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Результат</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student, result in query %}
                            {% set tr_cls = 'success' if result %}
                            {% set tr_cls = 'warning' if not result else tr_cls %}
                            {% set tr_cls = 'danger' if not result and homework.finish_date >= current_time else tr_cls %}
                        
                        <tr class="{{ tr_cls }}">
                            <td>{{ student.fio }}</td>
                            {% if result %}
                                <td>{{ result.correct }} / {{ result.total }}</td>
                            {% else %}
                                <td>Не пройдено</td>
                            {% endif%}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Результатов нет
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}