{% extends 'flask_user/member_base.html' %}


{% block head %}
<link href="{{ url_for('static', filename='css/task.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<a href="{{ url_for('practice.edit_view', id=practice.id) }}">{{ practice.title }}</a>
<form action="" method="POST" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.question, tabindex=230) }}
    {{ render_field(form.type, tabindex=230) }}
    {{ render_field(form.answer, tabindex=230) }}
    {{ render_field(form.values, tabindex=230) }}
    <fieldset class="form-group" id="answersSet">
        <legend>Ответы</legend>
        {{ render_field(form.newAnswer, label_visible=False, placeholder="Введите ответ") }}
    </fieldset>
    <div>
    {{ render_submit_field(form.submit, tabindex=280) }}
    </div>
</form>

<script type="text/html" id="valueFieldTemplate">
    <div class="form-check surrogat">
        <input type="checkbox" id="optionsRadios<%- id %>" value="<%- id %>" <%- extra %>>
        <input class="edit" value="<%- title %>" id="inputField<%- id %>" style="width:300px;">
        <button type="button" class="btn btn-default destroy" id="destroyBtn<%- id %>">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</script>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/underscore.js') }}"></script>
{% endblock %}
